html,body {
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(https://images.pexels.com/photos/1166644/pexels-photo-1166644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: #3b3716;
    font-size: 20px;
  }

.container {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 50vw 50vw;
      grid-template-columns: 50vw 50vw;
    -ms-grid-rows: 50px 400px 50px;
      grid-template-rows: 100px 400px 100px;
      grid-template-areas:  "headerpage headerpage" 
                            "openClosed businessHours"
                            "footer footer";
}

.headerpage {
    -ms-grid-column: 1 / span 2;
    -ms-grid-row: 1;
    grid-area: headerpage;
    background: url();
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100vw;
    height: 50px;
}


.businessHours {
        -ms-grid-column: 2 / span 1;
        -ms-grid-row: 2;
        grid-area: businessHours; 
        margin-top: -35px;
        align-content: justify;
        padding-left: 100px;
        margin-top: 4%;
        margin-right: 30%;
}

.openClosed {
    -ms-grid-column: 1 / span 1;
    -ms-grid-row: 2;
    grid-area: openClosed;
    font-size: 20px;
    text-align: center;
    align-content: center;
    margin-left: 25%;
}

.footer {
    -ms-grid-column: 1 / span 2;
    -ms-grid-row: 3;
    grid-area: footer;  
}

td {
  text-align: left;
}

.openinghours {
  font-family:Lucida Console;
  margin:10px;
  padding:0 10px 0 10px;
  overflow: hidden;
  display: inline-block;
}
.openinghourscontent {
  float:left;
}
.openinghourscontent h2 {
  display:block;
  text-align:center;
  margin-top:.33em;
}


button {
  background-color: #3b3716;
  color: #d2691e;
  padding: 15px 30px;
  border-radius: 30px;
  border: 2px solid #3b3716;
  font-size: 15px;
  margin-left: 8%;
}


.today {
  color: #17273B;
}
.opening-hours-table tr td:first-child {
  font-weight:bold;
}
#open-status {
  display:block;
  text-align:center;
  font-weight: bold;
  font-size: 40px;
  margin-top: 10%;
  margin-left: 5%;
}
.openorclosed:after {
  content:" CLOSED";
  font-size: 40px;
}
.open {
  color:#17273B;
}
.open:after {
  content:" Open";
  color: #17273B;
}
.closed:after {
  content:" Closed";
  color: #d2691e;
}
.opening-hours-table tr td {
  padding:5px;
}


.clock {
  transform: translateX(-50%) translateY(-50%);
  color: #3b3716;
  font-size: 30px;
  font-family: Orbitron;
  letter-spacing: 7px;
  display: inline-block;
  margin-top: 10%;
  margin-left: 54%;
  text-align: center;
}
